In [14]:
import neo_api_client
from neo_api_client import NeoAPI
import pandas as pd

In [2]:
def on_message(message):
    print(message)
    
def on_error(error_message):
    print(error_message)

In [125]:
def order_place(quantity, ticker, transaction_type):
    
    scriplist = client.scrip_master(exchange_segment="NSE")
    scriplist = pd.read_csv(scriplist)
    symbol_name = scriplist[(scriplist['pSymbolName'] == ticker) & (scriplist['pGroup'] == "EQ")]["pTrdSymbol"].values[0]
    
    
    trade = client.place_order(exchange_segment="NSE", product="MIS", price="", order_type="MKT", quantity=quantity, validity="DAY", 
                       trading_symbol=symbol_name, transaction_type=transaction_type, amo="NO", disclosed_quantity="0",
                       market_protection="0", pf="N",trigger_price="0", tag=None)
    
    
    
    return trade

In [108]:
def margin_info(ticker = "NYKAA"):

    scriplist = client.scrip_master(exchange_segment="NSE")
    scriplist = pd.read_csv(scriplist)
    symbol_code = str(scriplist[(scriplist['pSymbolName'] == ticker) & (scriplist['pGroup'] == "EQ")]["pSymbol"].values[0])
    margin_data = client.margin_required(exchange_segment = "NSE", price = "200", order_type= "MKT", product = "MIS", 
                           quantity = "1", instrument_token = symbol_code, transaction_type = "B")

    cash = margin_data['data']['avlCash']
    margin_used = margin_data['data']['mrgnUsd']
    margin_available = float(cash) - float(margin_used)
    
    data = {"cash":cash,
           "margin_used":margin_used,
           "margin_available":margin_available}
    
    return data

In [112]:
def net_positions():
    
    try:
    
        positions_data = client.positions()
        running_trades = []
        for trades in positions_data['data']:
            sym_name = trades['sym']
            buys= trades['flBuyQty']
            sells = trades['flSellQty']
            net_quantity = float(buys)-float(sells)
            running_trades.append([sym_name,buys,sells,net_quantity])

        running_trades = pd.DataFrame(running_trades, columns = ["sym_name","buys","sells","net_quantity"])
        
    except:
        
        print("No positions")
    
    return running_trades

In [3]:
client = NeoAPI(consumer_key="Dq1AUPAjcnfSIjcpkcNvERTZnE0a", consumer_secret="smojCtD74jGgSMZjbOsL4tTYutAa", 
                environment='prod', on_message=on_message, on_error=on_error, on_close=None, on_open=None)

{"data": {"access_token": "eyJ4NXQiOiJNbUprWWpVMlpETmpNelpqTURBM05UZ3pObUUxTm1NNU1qTXpNR1kyWm1OaFpHUTFNakE1TmciLCJraWQiOiJaalJqTUdRek9URmhPV1EwTm1WallXWTNZemRtWkdOa1pUUmpaVEUxTlRnMFkyWTBZVEUyTlRCaVlURTRNak5tWkRVeE5qZ3pPVGM0TWpGbFkyWXpOUV9SUzI1NiIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJjbGllbnQyOTIxMiIsImF1dCI6IkFQUExJQ0FUSU9OIiwiYXVkIjoiRHExQVVQQWpjbmZTSWpjcGtjTnZFUlRabkUwYSIsIm5iZiI6MTcwODMyNjczMiwiYXpwIjoiRHExQVVQQWpjbmZTSWpjcGtjTnZFUlRabkUwYSIsInNjb3BlIjoiZGVmYXVsdCIsImlzcyI6Imh0dHBzOlwvXC9uYXBpLmtvdGFrc2VjdXJpdGllcy5jb206NDQzXC9vYXV0aDJcL3Rva2VuIiwiZXhwIjo5MjIzMzcyMDM2ODU0Nzc1LCJpYXQiOjE3MDgzMjY3MzIsImp0aSI6ImExYjkyZDQ4LTUwMTktNDc2My05MjIxLTY1OGNmNTA3YTU4MyJ9.V7_8e2LBO_LTYt8aIObLVV8Q1guibxmT7rssGCmf9TYgoZbSXm9FhOmhKIANBvwYEW2HQDhvN0Gwl13mO9DWvZHtyiBgd5VCONtamB52mcFVpFNrRoci2yqOsSe_Lclhxbwe0Kd0qvldCVWybrCZ_7DUEI6iYoTtRoJxoOXct42v9EWcE0FFBAVZDwwkasZAgqOdq2TMiSB5hJcBEIgY5zdV0SIwzFKdN6kGMPWUPgavKCWOaHVBhqiJSrIA6lEAP_auOJ4BQ9TzqU0yVghPdfHgvHtbC0g4TWy_U5Wuh_5Srbw25QohpS87vzswgLGymwmIVnAvWps7GOokkQ6fUA", "scope": "default", "token_type": "Bearer", "expires_in": 9223372036854775}}

In [4]:
client.login(mobilenumber="+919990620500", password="Wealth@123")

{'data': {'token': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJWaWV3Il0sImV4cCI6MTcwODM2NzQwMCwianRpIjoiMjM3YTA0Y2EtYTBlZC00Mjg5LWJkZDYtZTllYWQ1ZGU5ODY5IiwiaWF0IjoxNzA4MzI2NzQxLCJpc3MiOiJsb2dpbi1zZXJ2aWNlIiwic3ViIjoiODE1OGM1YTktZjFmZi00YjIwLTlkNGMtZmE0NjNiNDllYjE1IiwidWNjIjoiWDFDUDIiLCJuYXAiOiIiLCJ5Y2UiOiJlWVxcNiAsXHUwMDI2NT1yXHUwMDAwXHUwMDAwXHUwMDA1fFx1MDAwMFx1MDAxMGIiLCJmZXRjaGNhY2hpbmdydWxlIjowLCJjYXRlZ29yaXNhdGlvbiI6IiJ9.IXp5SuEjGZRzCMYluL2zLK9SG33tuIn0Ejh_FhGfk-J_mHPdKKptme0UbMSa6JvE1I8eMIlESHLJ5SBKeRk-Ekx1VTXqOfoRl_nzQJt3fupcmo1PIivFWlcM6oK_RW6R2pwvVsGfD8IVZHSQ8YHElqlsj2cW8CyC6rzL0WvMWTS4rn207Sqwxu5yEzE39EcHVKejdeG1ouIz99kQSGW8JRQZojX7NJwM9Y2ybbaxCM__heR-a9z-WC2DWlButq0NcEMx-fdH-m8BBmyHJ62Bw2cPmmRbnk4c3FpE-_s_qjixsI9g7CJUb6nrNBdLaFYKGRcEbTMrVYh3HRPewUW2IQ',
  'sid': '081ab2de-3b5b-41e1-9efd-55b55517b6e8',
  'rid': '0c0601a8-495c-400f-bf72-db206cc9d852',
  'hsServerId': 'server4',
  'isUserPwdExpired': False,
  'caches': {'baskets': '1708321472',
   'lastUpdatedTS': '1708321472',
   'multiplewatchlists': '1708318719'},
  'ucc': 'X1CP2',
  'greetingName': 'ANJAN',
  'isTrialAccount': False,
  'dataCenter': 'adc',
  'searchAPIKey': '',
  'derivativesRiskDisclosure': 'Risk Disclosure on Derivatives\n\nAs per a SEBI study dated 25 Jan 2023- \n• 9 out of 10 individual traders in equity Futures and Options Segment, incurred net losses.\n• On an average, loss makers registered net trading loss close to Rs.50,000.\n• Over and above the net trading losses incurred, loss makers expended an additional 28% of net trading losses as transaction costs.\n• Those making net trading profits, incurred between 15% to 50% of such profits as transaction cost.\n\nFor more information please check out : https://www.sebi.gov.in/reports-and-statistics/research/jan-2023/study-analysis-of-profit-and-loss-of-individual-traders-dealing-in-equity-fando-segment_67525.html',
  'mfAccess': 2,
  'dataCenterMap': None,
  'dormancyStatus': 'A'}}

In [5]:
client.session_2fa(OTP="5731")

{'data': {'token': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJUcmFkZSJdLCJleHAiOjE3MDgzNjc0MDAsImp0aSI6IjNjNGVmZmZmLTg0M2MtNGYyMy05MGFkLWY5MmQyNTUzOTZjNSIsImlhdCI6MTcwODMyNjc4MywiaXNzIjoibG9naW4tc2VydmljZSIsInN1YiI6IjgxNThjNWE5LWYxZmYtNGIyMC05ZDRjLWZhNDYzYjQ5ZWIxNSIsInVjYyI6IlgxQ1AyIiwibmFwIjoiIiwieWNlIjoiZVlcXDYgLFx1MDAyNjU9clx1MDAwMFx1MDAwMFx1MDAwNXxcdTAwMDBcdTAwMTBiIiwiZmV0Y2hjYWNoaW5ncnVsZSI6MCwiY2F0ZWdvcmlzYXRpb24iOiIifQ.ATI2i8DBREBxONSwnN8AMwe3vIyQGx_XaMiPPu_i1BiuVXxVINqTvjD1nw1pwG40qFJ4h6ZZAKBA_SXyBuffRpDhIhfe-4BjMmyKnYyONl4s0SLoBuL9lRJMwGbwy-jAvyptAFK2PjcmNm3oy2RoWwzgyoTIWr7sUCB5YWjamVjBI5SgU2it3Op83-Vl53hO_A1KQO6Wmsrt31LLkjG-yT8YF6uywPQ8rt3MMbBKb7O97L4nRiUdrpNCdkCjAuAwpWcAeO-FewIEuuoLFBRv5y2txfUyS5YQNoNvJHxdgbNLysdvDtWtbusMZqkJ2buIndK_GdzqEnJzHlrFleaSjg',
  'sid': '081ab2de-3b5b-41e1-9efd-55b55517b6e8',
  'rid': '0c0601a8-495c-400f-bf72-db206cc9d852',
  'hsServerId': 'server4',
  'isUserPwdExpired': False,
  'caches': {'baskets': '1708321472',
   'lastUpdatedTS': '1708321472',
   'multiplewatchlists': '1708318719'},
  'ucc': 'X1CP2',
  'greetingName': 'ANJAN',
  'isTrialAccount': False,
  'dataCenter': 'adc',
  'searchAPIKey': '',
  'derivativesRiskDisclosure': 'Risk Disclosure on Derivatives\n\nAs per a SEBI study dated 25 Jan 2023- \n• 9 out of 10 individual traders in equity Futures and Options Segment, incurred net losses.\n• On an average, loss makers registered net trading loss close to Rs.50,000.\n• Over and above the net trading losses incurred, loss makers expended an additional 28% of net trading losses as transaction costs.\n• Those making net trading profits, incurred between 15% to 50% of such profits as transaction cost.\n\nFor more information please check out : https://www.sebi.gov.in/reports-and-statistics/research/jan-2023/study-analysis-of-profit-and-loss-of-individual-traders-dealing-in-equity-fando-segment_67525.html',
  'mfAccess': 2,
  'dataCenterMap': None,
  'dormancyStatus': 'A'}}

In [127]:
order_place("1", "NYKAA", "S")

{'stat': 'Ok',
 'nOrdNo': '240219000117690',
 'tid': 'server3_253424',
 'stCode': 200}

In [111]:
margin_info()

{'cash': '10058.12', 'margin_used': '0.00', 'margin_available': 10058.12}

In [124]:
net_positions()

  sym_name buys sells  net_quantity
0    NYKAA    3     3           0.0
1     ONGC    2     2           0.0